# Folder hasil kompilasi (Wajib di-ignore)
bin/
obj/

# File konfigurasi rahasia
.env
.env.local

# File sampah Visual Studio Code
.vscode/
.vs/

# NuGet Packages
*.nupkg
**/packages/

# File yang SEBAIKNYA TIDAK di-ignore untuk proyek baru
# Jangan meng-ignore launchSettings.json jika Anda bekerja sendiri/awal
# Karena VS Code membutuhkannya untuk mengenali profil pengerjaan.